<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Books</title>
</head>
<body>
{% for books in book_pages %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{books[0].img_src}}" class="card-img" alt="img_src">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{books[0].title}} </h5>
                            <p class="card-text">{{books[0].author}}</p>
                            <p class="card-text"><small class="text-muted"><a href="{{books[0].book_path}}" target="blank"> Читать </a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if books | count == 2 %}
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{books[-1].img_src}}" class="card-img" alt="img_src">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{books[-1].title}} </h5>
                            <p class="card-text">{{books[-1].author}}</p>
                            <p class="card-text"><small class="text-muted"><a href="{{books[-1].book_path}}" target="blank"> Читать </a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
</body>
</html>