<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" href="../favicon/img.png"/>

    <title>Books</title>
</head>
<body>
<div class="mx-auto" style="width: 1110px;">
    <div style="height: 30px;"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if current_page != 1 %}
            <li class="page-item"><a class="page-link" href="index{{current_page - 1}}.html">Назад</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="index{{current_page}}.html" tabindex="-1">Назад</a>
            </li>
            {% endif %}
            {% for number in range(1, pages_number + 1) %}
            {% if number != current_page %}
            <li class="page-item">
                <a class="page-link" href="index{{number}}.html">{{number}}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{ number }}.html">{{ number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if current_page != pages_number %}
            <li class="page-item">
                <a class="page-link" href="index{{current_page + 1 }}.html">Вперед</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="index{{current_page}}.html" tabindex="-1"
                   aria-disabled="true">Вперёд</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% for books in books_part %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../{{books[0].img_src}}" class="card-img" alt="img_src">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{books[0].title}} </h5>
                            <p class="card-text">{{books[0].author}}</p>
                            {% for genre in books[0].genres %}
                              <span class="badge badge-light">{{genre}}</span>
                            {% endfor %}
                            <p class="card-text"><small class="text-muted"><a href="../{{books[0].book_path}}"
                                                                              target="blank"> Читать </a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if books | count == 2 %}
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../{{books[-1].img_src}}" class="card-img" alt="img_src">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{books[-1].title}} </h5>
                            <p class="card-text">{{books[-1].author}}</p>
                            {% for genre in books[0].genres %}
                              <span class="badge badge-light">{{genre}}</span>
                            {% endfor %}
                            <p class="card-text"><small class="text-muted"><a href="../{{books[-1].book_path}}"
                                                                              target="blank"> Читать </a></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
</body>
</html>